{% extends "base.html" %}
{% block title %}Connexion Admin{% endblock %}

{% block content %}
<div class="bg-white p-4 rounded shadow-sm" style="max-width: 400px; margin:0 auto;">
    <h1 class="mb-4 text-center">Connexion Admin</h1>
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input type="text" name="username" id="username" required class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="password" id="password" required class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
    </form>
</div>
{% endblock %}
